@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="col-md-4">
                <img href="https://armath.am" src="/Armath-logo-en.png" target="_blank" alt="Greenhouse 1">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Armath 146</a>
              
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
